@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";

.App {
  margin: 50px auto 0 auto;
  max-width: 500px;
  min-height: 500px;
}

.card-header {
  display: inline-block;
  padding-bottom: 100px;
}

.card-header > .inner {
  display: inline-block;
  vertical-align: middle;
}
